body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;
}

/*  #E5E5E5    F5F7FA*/
/* main styles */

.main {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}

/* Main_Content */
.Main_Content {
    background-color: #FFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 105px 90px;
}
/* about styles */

.about {
margin-bottom: 40px;
}
    
.About_position {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
}

.About_name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;
}

.About_description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    width: 400px;
}

/* Projects styles */
.Projects {
    margin-bottom: 50px;

}


.Title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}

.Projects_list {
    padding: 0;
    margin-left: 15px;
}

.Project_item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.Project,
.Project_link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.Project_link {
margin-left: 10px;
}

.Project_bracket {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

/* Work styles */

.Work {
margin-bottom: 45px;
}

.Work_position {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.organization {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

.Period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}

.line {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.Work_list {
    padding: 0;
    margin-left: 15px;
}

.Work_list_item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

/* Education styles*/

.Universiti {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin-bottom: 10px;
}

.Department {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 10px;
}



/* Side_bar_style */
.Side_Bar {
    background-color: #1E2939;
    padding-top: 40px;
    width: 370px;
}

.photo {
width: 370px;
margin-bottom: 50px;
}

.Contacts,
.Tech_skills,
.Soft_skills {
    margin-left: 40px;
}

.Contacts {
    margin-bottom: 50px;
}
.side_bar_titel {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

.Contact_tipe {
font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 10px;
}

.Contact_link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #565E6A;
}

.Tech_skills {
    margin-bottom: 45px;
}

.Tech_skills_list,
.Soft_skills_list {
    color: #FFFFFF;
    padding: 0;
    margin-left: 17px;
} 

.tech_skills_item,
.Soft_skills_item {
    color: #FB6D3A;
}

.tech_skills_text,
.Soft_skills_text {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    }

    

